.DS_Store

*.o
*.out

terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
jenkins/
docker/toolbox/
__pycache__/
tf-ansible-ec2-deploy/ansible_jenkins_ubuntu/jenkins-master/templates/
tf-ansible-ec2-deploy/ansible_jenkins_ubuntu/jenkins-slave/templates/
**/*.tfvars
*.terraform/
*.log
*.swp
*.swo
*.tmp
*.bak


