body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(249, 228, 255);
    font-family: "Silkscreen", sans-serif;
}

.container {
    display: flex;
    height: 75vh;
    align-items: center;
}

.option{
    font-size: 256px;
    border-radius: 50%;
    text-align: center;
}

.left, .right{
    display: flex;
    width: 50%;
    justify-content: center;
}
.score-section {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    margin-top: 20px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.bottom button{
    border-color: transparent;
    font-family: "Silkscreen";
    width: 100%;
    max-width: 256px;
    box-shadow: 0 3px 10px #A020F0;
    height: 200px;
    width: 200px;
    border: 0;
    border-radius: 50%;
    background-color: #a020f0;
    color: #fff;
    font-size: 48px;
    text-align: center;
}

.bottom button:hover{
    box-shadow: none;
    width: 250px;
    height: 250px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
